<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" />
<style>
    .line{
        border-bottom: 1px solid #ff8b77;
    }
    .replies li {
        list-style: none;
    }
</style>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">
            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 상세보기</p>
            </header>
            <!-- Table -->
            <h3><a id="goList" class="button small">목록 보기</a></h3>
            <div class="content">
                <div class="form">
                    <form action="/board/remove" method="post">
                        <div class="fields" th:object="${board}">
                            <div class="field">
                                <h4>번호</h4>
                                <input type="text"  th:field="*{boardNumber}" readonly/>
                            </div>
                            <div class="field">
                                <h4>제목</h4>
                                <input type="text" th:field="*{boardTitle}" readonly/>
                            </div>
                            <div class="field">
                                <h4>내용</h4>
                                <textarea rows="6" style="resize:none" th:field="*{boardContent}" readonly></textarea>
                            </div>
                            <div class="field">
                                <h4>작성자</h4>
                                <input type="text" th:field="*{boardWriter}" readonly/>
                            </div>
                        </div>
                        <ul class="actions special">
                            <li>
                                <input type="button" class="button" value="수정" onclick="goUpdate()"/>
                                <input type="submit" class="button" value="삭제" onclick="goDelete()"/>
                            </li>
                        </ul>
                        <ul class="icons">
                            <li style="display: block">
                                <span class="icon solid fa-envelope"></span>
                                <strong>댓글</strong>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" class="register button primary small" style="width: 100%">댓글 등록</a>
                        <div style="display: none" class="register-form">
                            <div>
                                <h4>작성자</h4>
                                <input type="text" name="replyWriter" placeholder="Replier">
                            </div>
                            <div>
                                <h4>댓글</h4>
                                <textarea rows="6" name="replyContent" placeholder="Reply" style="resize: none"></textarea>
                            </div>
                            <div style="text-align: right">
                                <a href="javascript:void(0)" class="finish button primary small">등록</a>
                                <a href="javascript:void(0)" class="cancel button primary small">취소</a>
                            </div>
                        </div>
                        <ul class="replies"></ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/reply.js"></script>
<script th:inline="javascript">
    let boardNumber = [[${board.boardNumber}]];
    let params = [[${criteria.listLink}]];
    const $replyUL = $(".replies");
    let pageNum = 1;

    showList(pageNum);

    function showList(page){
        replyService.getList({
            boardNumber : boardNumber,
            page: page
        }, function (list){
            let str ="";
            if(list == null || list.length == 0){
                $replyUL.html("<p>등록된 댓글이 없습니다.</p>");
                return;
            }

            $.each(list, function (i, reply){
                str += "<li>";
                str += "<strong>" + reply.replyWriter + "</strong>";
                str += "<p>" + reply.replyContent + "</p>";
                str += "<div className='line'></div>";
                str += "</li>";
            });
            $replyUL.html(str);
        });
    }

    <li style="display: block">
        <strong>유저 002</strong>
        <p>댓글 내용</p>
        <div className="line"></div>
    </li>











    function goUpdate(){
        location.href = "/board/modify" + params + "&boardNumber=" + boardNumber;
    }

    function goDelete(){
        alert(boardNumber +"번 게시글이 삭제 되었습니다.")
    }

    $('a#goList').click(function (e){
        e.preventDefault();
        location.href = "/board/list" + params;
    })

    // replyService.add({
    //     boardNumber : boardNumber,
    //     replyContent : "JS TEST",
    //     replyWriter : "tester"
    // }, function (result){alert(result);})

        // replyService.getList({
        //     boardNumber: boardNumber
        // }, function (list){
        //     console.log(list);
        // });

    // replyService.read(41, function (reply){console.log(reply)})
    // replyService.remove(41, function (reply){console.log(reply)})

    // replyService.modify({
    //     replyNumber : 42,
    //     replyContent : "modify TEST",
    // }, function (result){alert(result);})
</script>
</html>